menu "Project configuration"

choice CAMERA_BOARD
    prompt "Camera board"
    default ESP32_CAMERA_BOARD
    help
        Select a Camera board to use with the ESP-IDF
config ESP32_CAMERA_BOARD
    bool "ESP32-Camera"
config M5_CAMERA_A_BOARD
    bool "M5-Camera A"
config M5_CAMERA_B_BOARD
    bool "M5-Camera B"
config M5_CAMERA_X_BOARD
    bool "M5-Camera X"
config M5_CAMERA_F_BOARD
    bool "M5-Camera F"
endchoice

config CAMERA_WIFI_AP
    bool
    prompt "choose WiFi mode in AP"
    default "y"
    help
        WiFi mode selection

choice IMG_TX_PROTOCOL
    prompt "image transfer protocol"
    default HTTP_SERVER
    help
        choose the image transfer protocol
config TX_HTTP_SERVER
    bool "Http server"
config TX_TCP_SOCKET
    bool "Socket TCP"
config TX_UDP_SOCKET
    bool "Socket UDP"
endchoice

config EXAMPLE_PORT
        int "Port"
        range 0 65535
        default 3333
        help
            Local port the example server will listen on.

endmenu
